<h1 style="text-align: center;">Dashboard</h1>
{{#if stories}}
    <h6 style="text-align: center">Your Stories</h6>
    <br />
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
            <tr>
                <td><a href="/stories/{{_id}}"></a>{{title}}</td>
                <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
<p>You have not created any stories</p>
{{/if}}